<ion-content [fullscreen]="true">
  <div class="background">
    <div class="filament-data border">
      <p> <strong> Filamento: </strong> Nome do filamento </p>

      <p> <strong> Quantidade total: </strong> 000 Gramas </p>

      <p> <strong> Quantidade gasta: </strong> 000 Gramas </p>

      <p> <strong> Quantidade atual: </strong> 000 Gramas </p>
    </div>

    <div class="filament-list-item border">
      <ul class="border">
        <li>
          <p>
            <strong>Item:</strong> Nome do item<br>
            <strong>Material usado:</strong> 10g <br>
          </p>

          <button>Apagar Item</button>
        </li>
      </ul>

      <button>Adicionar item</button>
    </div>

    <div class="filament-list border">
      <ul class="border">
        <li class="border">
          <p>Vermelho</p>

          <button>Apagar</button>
        </li>
      </ul>

      <button>Adicionar filamento</button>
    </div>
  </div>
</ion-content>

<div class="modal-backdrop modal-off">
  <app-modal-confirm class="center-component" [text]="text" (responseEmit)="responseModalConfirm($event)"></app-modal-confirm>
</div>

<div class="modal-backdrop ">
  <app-modal-new-filament class="center-component"></app-modal-new-filament>
</div>